RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^dashboard/?$    ?area=dashboard    [NC,L]    # Process dashboard area
RewriteRule    ^dashboard/login/?$    ?area=dashboard&action=login    [NC,L]    # Process dashboard login area
